  <!-- Modal -->
  <div class="modal fade" {% block modal-id %} id="addModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">
            {% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Add product {% endblock modal-title %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" {% block action %} action="/add_product" {% endblock action %} autocomplete="off">
            {% csrf_token %}
            <div class="modal-body">
                {% block Value-id %}{% endblock Value-id %}

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="category" maxlength="250" placeholder="Insert category">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="matchid" maxlength="250" placeholder="Insert matchid">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="modelnumber" maxlength="250" placeholder="Insert modelnumber">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="brand" maxlength="250" placeholder="Insert brand">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></i></span>
                    <input type="text" class="form-control" name="loweomniid" maxlength="250" placeholder="Insert loweomniid">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></i></span>
                    <input type="text" class="form-control" name="lowesdescription" maxlength="250" placeholder="Insert lowesdescription">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="homedepotitemid" maxlength="250" placeholder="Insert homedepotitemid">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="homedepotproductlabel" maxlength="250" placeholder="Insert homedepotproductlabel">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="bestbuysku" maxlength="250" placeholder="Insert bestbuysku">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="bestbuyproductname" maxlength="250" placeholder="Insert bestbuyproductname">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="matched" maxlength="250" placeholder="Insert matched">
                </div>

                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light"><i class="fa-solid fa-circle-plus"></i></span>
                    <input type="text" class="form-control" name="delete" maxlength="250" placeholder="Insert delete">
                </div>

                <div class="mt-4" style="width: 100%;">
                    <button type="submit" class="btn btn-primary mb-3" style="width: 70%;">
                    {% block btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;{% endblock btn-action %}
                    </button>
                    <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 25%;" title="Reset">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>

            </div>
        </form>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>