{% extends 'base.html' %}

{% block title %} Product import {% endblock %}

{% block navbar-content %} 
<i style="color: yellowgreen;" class="fas fa-user-alt"></i>&nbsp;&nbsp; Home Depot Details

{% endblock navbar-content %}

{% block content %}
<div class="container">
    <br>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Select Vendor
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="{% url 'bestbuymaster' %}">Best Buy</a></li>
            <li><a class="dropdown-item" href="{% url 'lowesmaster' %}">Lowes</a></li>
            <li><a class="dropdown-item" href="{% url 'homedepotmaster' %}">Home depot</a></li>
            
         
        </ul>
      </div>

      <br>

    <div class="row" >
        <div class="col-lg-12">
            <div class="card card-info" >
                <div class="card-header d-lg-flex">
                    <h3 class="card-title" style="width: 95%;">SEARCH BY FILTERS</h3>
                    
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" onClick="showminimizar()">
                            <i class="fas fa-window-minimize"></i>
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" onClick="showmaximizar()" >
                            <i class="fas fa-window-restore" ></i>
                        </button>
                        
                    
                </div>
                <div class="card-body"  id="minimizar">
                    <div class="row" >
                        
                            <div class="col-lg-12 d-lg-flex">

                                <div class="col-lg-3 form-floating mx-1 my-3">
                                    <input 
                                        type="text" 
                                        id="filtromodelnumber"
                                        class="form-control"
                                        placeholder="Search modelnumber"
                                        data-index="1">
                                    <label for="filtromodelnumber">Search Model Number</label>
                                </div>
    
                            
                                <div class="col-lg-3 form-floating mx-1 my-3">
                                    <input 
                                        type="text" 
                                        id="filtroupc"
                                        class="form-control"
                                        placeholder="Search upc"
                                        data-index="2">
                                    <label for="filtroupc">Search Upc</label>
                                </div>
    
                             
    
                                <div class="col-lg-3 form-floating mx-1 my-3">
                                    <input 
                                        type="text" 
                                        id="filtroname"
                                        class="form-control"
                                        placeholder="Search modelnumber"
                                        data-index="3">
                                    <label for="filtroname">Search description</label>
                                </div>
                                
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-outline-dark mb-3 ms-2" id="btnLimpiarBusqueda">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>




<br>

    <table class="table table-bordered" id="productmaster" style="text-align: center;">
        <thead class="table-success" >
            <tr>
                
                <th>Details</th>
                <th>Model Number</th>
                <th>Upc</th>
                <th>Description</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% for product in homedepotproductmaster %}
        <tr>
            
            <td>
                <button onclick="abrir_modal_edicion('{% url 'homedepotmasterview' product.itemId %}')" class="btn btn-primary">View</button>
            </td>
            <td>{{ product.identifiers.modelNumber }}</td>
            <td>{{ product.identifiers.upc }}</td>
            <td>{{ product.identifiers.canonicalUrl  }}</td>
        
           
        </tr>
        {% endfor %}
         </tbody>
        

    </table>

</div>
<br><br><br><br>

<div class="modal fade" id="prodview2" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">

</div>

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#prodview2').load(url, function (){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}


<script>
    $("#filtrosku").keyup(function(){
       table.column($(this).data('index')).search(this.value).draw();
     })
</script>

<script>
    function showminimizar(){
        document.getElementById('minimizar').style.display='none';
    }

    function showmaximizar(){
        document.getElementById('minimizar').style.display='block';
    }
</script>



{% endblock content %}